.header{
	display: flex;
	justify-content: space-between;
	padding: 30px 20px;
}

.backround-image{
	background-image: url('images/desk.jpg');
	height: 1000px;
	background-repeat: no-repeat;
	background-size: cover;
}

.menu{
	display: flex;
	width: 500px;
	list-style: none;
	justify-content: space-between;
}

.menu-item{
	color:#000000;
	font-size: 13px;
	text-transform: uppercase;
}

.menu-link{
	color:#000000;
	text-decoration: none;
}
.title{
	color: #000000;
	font-size: 40px;
	text-transform: uppercase;
	margin: 500px 0 0 30px;
}
.subtitle{
	color: #060606;
	font-size: 15px;
	text-transform: uppercase;
	margin: 5px 0 0 30px;
}

.main-page{
	background: #4fb1de;
}

.next-item{
	color: #ffffff;
	font-size: 17px;
	margin: 50px 50px 0 50px;
}
.next-link{
	color: #000;
	text-decoration: none;
}
.text{
	color: #ffffff;
	font-size: 14px;
}

.next-menu{
	display: flex;
	width: 1000px;
	list-style: none;
	justify-content: space-between;
	padding: 0 auto;
}
.title2{
	color: #1E90FF;
	font-size: 20px;
}
.subtitle2{
	color: #1E90FF;
	font-size: 30px;
}
.middle{
	display: flex;
	justify-content: center;
	background: #ffffff
}
.middle1{
	margin-left: 40px;
}
.title3{
	color: #1E90FF;
	font-size: 20px;
}
.subtitle3{
	color: #1E90FF;
	font-size: 30px;
}
*{
	border: 1px solid black;
}